<h1>Nav</h1>
<ul>
	<li>
		{{#link-to 'about'}}About{{/link-to}}
	</li>
	<li>
		{{#link-to 'books.new'}}Create a book{{/link-to}}
	</li>
	<li>
		{{#link-to 'books'}}Browse Books{{/link-to}}
	</li>
</ul>
<p>Your content here.</p>
