<h1>Book Pages Index</h1>

{{#each itemController="page"}}
	<div class="page">
		<div class="image">
			this is the image
		</div>
		<div class="title">
			text: {{!-- title --}}
		</div>
		<div class="author">
			author: {{!-- author --}}
		</div>
	</div>
{{/each}}
