<h1>Books index</h1>

{{#each itemController="book"}}
	<div class="book">
		<div class="cover">
			this is the cover
		</div>
		<div class="title">
			{{title}}
		</div>
		<div class="author">
			{{author}}
		</div>
	</div>
{{/each}}
