
<div id="how">
  <div class="title">
    How it works
  </div>
  <div class="item_list">
    1. Click
  </div>
  <div class="item_description navigation_font">
    Manage a book
  </div>
  <div class="clear">
  </div>
</div>
