<div class="fold_cont">
  <div class="book_picture_cont">
    <div class="book_picture_frame">
      <img src="<%= image_path("theme/framed_pic_with_corners_squarex2200.png") %>">
    </div>
    <div class="book_picture_image">
      <img src="<%= image_path("theme/flower_book_frame.png") %>"> 
    </div>
  </div>

  <div class="story_book_cont">
    <div class="story_page">
      Stoarybook is a website for creative writers, and photographers to make books.  Create books filled with pages of writing, and pictures that can be created collaboratively, and even anonymously.  
    <br>
    <br>
  The goal of stoarybook is to engage your audience with stunning photography and pictures, and creative story telling.  
    <br>
    <br>
  Read below to see how it works.  
    </div>
  </div>
  <div class="clear">
  </div>
</div>
<%= render :partial => 'about/how' %>
