
<div class="book_picture_cont">
  <div class="book_picture_frame">
    <img src="<%= image_path("theme/framed_pic_with_corners_squarex2200.png") %>">
  </div>
  <div class="book_picture_image">
    <img src="<%= image_path("theme/flower_book_frame.png") %>"> 
  </div>
</div>
